section.section img {
  border-radius: 0.8rem;
}

section .title {
  display: flex;
  text-align: center;
}

#confirmroom {
  background: white;
}

#confirmroom .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#confirmroom .text h2 {
  margin-bottom: 1rem;
}

#confirmroom .text p {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-family: var(--body-font);
}

#confirmroom .text p img {
  width: 2.5rem;
  height: 1.5rem;
  margin-right: 0.18rem;
}

input {
  border: 0.2rem solid rgb(225, 198, 233);
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 1.8rem;
  outline: none;
  height: 3rem;
  border-radius: 0.8rem;
  text-align: center;
}

@media (min-width: 1025px) {
  section .container {
    max-width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  #header {
    justify-content: center;
  }
}
